extends layout

block content


    h1=optionalMessage
    a(href="/random") Random Joke
    br
    a(href="/home") Home
    br
    a(href="/addjoke") Add A New Joke
    br
    a(href="/allJokes") All Jokes
    