extends layout

block content

    h3 Login

    form(name="input", action="/home", method="post")
          input(type="text", name="username", placeholder="UserName")
          br
          br
          input(type="submit", value="Login")
